@import 'config';
@import 'menu';


* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary_color;
  color: set-text-color($primary_color);
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary_color, 2),
        0.5); //rbga function is used here to see the background image.
  }
}

a {
  color: #ffff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary_color;
}

main {
  padding: 4rem;
  //height: 100%;
  min-height: calc(100vh - 60px);

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary_color;
        @include easeOut;
      }
    }
  }

  &#home {
    overflow: hidden;

    h1 {
      margin-top: 20vh;
    }
  }
}


// Aboout page

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    'bioimage bio bio' // bi bio is the bio should strecth across two cells
    'job1 job2 job3';
  grid-template-columns: repeat(3, 1fr); // here 1fr mens one cell this will decide how many cell nedd to have in one column

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary_color 3px solid;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }

  .job-1 {
    grid-area: job1
  }

  .job-2 {
    grid-area: job2
  }

  .job-3 {
    grid-area: job3
  }

  .job {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary_color 5px solid;
  }
}

// Work / Projects

.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: 1fr 1fr 1fr;

  img {
    width: 100%;
    border: 3px #fff solid;

    &:hover {
      opacity: 0.5;
      border-color: $secondary_color;
      @include easeOut;
    }
  }
}

// Contact page

.boxes {
  display: flex;
  flex-wrap: wrap; // this is when we minimize it goes stack down
  justify-content: space-evenly;
  margin-top: 1rem;

  div {
    font-size: 2rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    @include easeOut;

    &:hover {
      padding: 0.5rem 1.5rem;
      background: $secondary_color;
      color: set-text-color($secondary_color);

      span {
        color: set-text-color($secondary_color);
      }
    }
  }
}

//Button styles for projects

.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;

  &:hover {
    background: $secondary_color;
    color: set-text-color($secondary_color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;

}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
}





#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

@import 'mobile';